**Dataset**

The name of the dataset is sales.csv

**Context**

This dataset is a record of some building or building unit (apartment, etc.) sold in the New York City property market over a 8-month period.

**Content**

This dataset contains the location, address, type, sale price, and sale date of building units sold. A reference on the trickier fields:

    BOROUGH: A digit code for the borough the property is located in; in order these are Manhattan (1), Bronx (2), Brooklyn (3), Queens (4), and Staten Island (5).
    BLOCK, LOT: The combination of borough, block, and lot forms a unique key for property in New York City. Commonly called a BBL.

Note that because this is a financial transaction dataset, there are some points that need to be kept in mind:

    Many sales occur with a nonsensically small dollar amount: $0 most commonly. These sales are actually transfers of deeds between parties: for example, parents transferring ownership to their home to a child after moving out for retirement.

Import the sales.csv dataset

In [2]:
import pandas as pd

In [4]:
print('Pandas Version : ' , pd.__version__)

Pandas Version :  2.2.2

In [6]:
df = pd.read_csv('sales.csv')

In [8]:
type(df)

pandas.core.frame.DataFrame

check the info of the dataset

In [12]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,3,KENSINGTON,09 COOPS - WALKUP APARTMENTS,2,5329,62,"179 OCEAN PARKWAY, 3A",11218,0,0,0,0,1923,389000,8/1/2017
1,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5911,8,7205 6 AVENUE,11209,2,0,2,2177,1910,0,5/30/2017
2,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1512,1,"983 PARK AVENUE, 3C",10028,0,0,0,0,1927,7600000,5/10/2017
3,4,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16213,16,241 BEACH 117 STREET,11694,3,0,3,4000,1905,0,5/12/2017
4,4,DOUGLASTON,02 TWO FAMILY DWELLINGS,1,8304,28,245-71 61ST AVENUE,11362,2,0,2,3600,1950,844180,6/27/2017

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3579 entries, 0 to 3578
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   BOROUGH                  3579 non-null   int64
 1   NEIGHBORHOOD             3579 non-null   object
 2   BUILDING CLASS CATEGORY  3579 non-null   object
 3   TAX CLASS AT PRESENT     3579 non-null   object
 4   BLOCK                    3579 non-null   int64
 5   LOT                      3579 non-null   int64
 6   ADDRESS                  3579 non-null   object
 7   ZIP CODE                 3579 non-null   int64
 8   RESIDENTIAL UNITS        3579 non-null   int64
 9   COMMERCIAL UNITS         3579 non-null   int64
 10  TOTAL UNITS              3579 non-null   int64
 11  LAND SQUARE FEET         3579 non-null   int64
 12  YEAR BUILT               3579 non-null   int64
 13  SALE PRICE               3579 non-null   int64
 14  SALE DATE                3579 non-null   object
dtypes: int64(10), object(5)
memory usage: 419.5+ KB

check the description of the dataset

In [14]:
df.describe()

,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE
count,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3.579000e+03,3579.000000,3.579000e+03
mean,2.966192,4150.419670,381.842414,10680.873987,2.290025,0.153674,2.473875,3.605483e+03,1782.920648,1.005316e+06
std,1.294840,3531.382379,637.913571,1447.476149,31.872076,3.250381,32.387727,7.225966e+04,547.202378,3.513772e+06
min,1.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,2.000000,1323.500000,22.000000,10303.000000,0.000000,0.000000,1.000000,0.000000e+00,1920.000000,0.000000e+00
50%,3.000000,3164.000000,50.000000,11208.000000,1.000000,0.000000,1.000000,1.710000e+03,1940.000000,4.300000e+05
75%,4.000000,6067.500000,1002.000000,11355.000000,2.000000,0.000000,2.000000,2.668500e+03,1966.000000,8.475000e+05
max,5.000000,16316.000000,7232.000000,11694.000000,1844.000000,184.000000,1866.000000,4.228300e+06,2017.000000,8.637500e+07

Write a function named create_bbl_key that takes three arguments:
- borough (integer)
- block (integer)
- lot (integer)

The function should concatenate these values into a single string in the format:
"{borough}-{block}-{lot}"

Then, apply this function to the dataset to create a new column called "BBL_KEY" that contains the BBL key for each property.

In [16]:
def create_bbl_key(borough: int, block: int, lot: int) -> str:
    """
    Concatenates borough, block, and lot into a single string in the format "borough-block-lot".
    """
    return f"{borough}-{block}-{lot}"

In [18]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,3,KENSINGTON,09 COOPS - WALKUP APARTMENTS,2,5329,62,"179 OCEAN PARKWAY, 3A",11218,0,0,0,0,1923,389000,8/1/2017
1,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5911,8,7205 6 AVENUE,11209,2,0,2,2177,1910,0,5/30/2017
2,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1512,1,"983 PARK AVENUE, 3C",10028,0,0,0,0,1927,7600000,5/10/2017
3,4,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16213,16,241 BEACH 117 STREET,11694,3,0,3,4000,1905,0,5/12/2017
4,4,DOUGLASTON,02 TWO FAMILY DWELLINGS,1,8304,28,245-71 61ST AVENUE,11362,2,0,2,3600,1950,844180,6/27/2017

In [20]:
df["BBL_KEY"] = df.apply(lambda row: create_bbl_key(row["BOROUGH"], row["BLOCK"], row["LOT"]), axis=1)

After creating the "BBL_KEY" column, remove duplicate rows based on this column while keeping only the first occurrence of each unique "BBL_KEY". Save the data in a new dataframe.

In [22]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE,BBL_KEY
0,3,KENSINGTON,09 COOPS - WALKUP APARTMENTS,2,5329,62,"179 OCEAN PARKWAY, 3A",11218,0,0,0,0,1923,389000,8/1/2017,3-5329-62
1,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5911,8,7205 6 AVENUE,11209,2,0,2,2177,1910,0,5/30/2017,3-5911-8
2,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1512,1,"983 PARK AVENUE, 3C",10028,0,0,0,0,1927,7600000,5/10/2017,1-1512-1
3,4,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16213,16,241 BEACH 117 STREET,11694,3,0,3,4000,1905,0,5/12/2017,4-16213-16
4,4,DOUGLASTON,02 TWO FAMILY DWELLINGS,1,8304,28,245-71 61ST AVENUE,11362,2,0,2,3600,1950,844180,6/27/2017,4-8304-28

Now answer the the questions after clean the data

Read this - BOROUGH: A digit code for the borough the property is located in; in order these are Manhattan (1), Bronx (2), Brooklyn (3), Queens (4), and Staten Island (5).

After reading answers the following questions :-
1. How many property is located in Manhattan (1).
2. How many property is located in Bronx (2).
3. How many property is located in Brooklyn (3).
4. How many property is located in Queens (4).
5. How many property is located in Staten Island (5).

In [24]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE,BBL_KEY
0,3,KENSINGTON,09 COOPS - WALKUP APARTMENTS,2,5329,62,"179 OCEAN PARKWAY, 3A",11218,0,0,0,0,1923,389000,8/1/2017,3-5329-62
1,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5911,8,7205 6 AVENUE,11209,2,0,2,2177,1910,0,5/30/2017,3-5911-8
2,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1512,1,"983 PARK AVENUE, 3C",10028,0,0,0,0,1927,7600000,5/10/2017,1-1512-1
3,4,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16213,16,241 BEACH 117 STREET,11694,3,0,3,4000,1905,0,5/12/2017,4-16213-16
4,4,DOUGLASTON,02 TWO FAMILY DWELLINGS,1,8304,28,245-71 61ST AVENUE,11362,2,0,2,3600,1950,844180,6/27/2017,4-8304-28

In [26]:
print(df.columns)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'ADDRESS', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'YEAR BUILT', 'SALE PRICE', 'SALE DATE', 'BBL_KEY'],
      dtype='object')

In [28]:
borough_counts = df["BOROUGH"].value_counts()

In [30]:
print("Properties in each borough:")
print(f"Manhattan (1): {borough_counts.get(1, 0)}")
print(f"Bronx (2): {borough_counts.get(2, 0)}")
print(f"Brooklyn (3): {borough_counts.get(3, 0)}")
print(f"Queens (4): {borough_counts.get(4, 0)}")
print(f"Staten Island (5): {borough_counts.get(5, 0)}")

Properties in each borough:
Manhattan (1): 803
Bronx (2): 306
Brooklyn (3): 1026
Queens (4): 1097
Staten Island (5): 347

1. How many property have more than 60 RESIDENTIAL UNITS.
2. How many property have 10 COMMERCIAL UNITS.
3. How many property have 300 TOTAL UNITS.
4. How many property have at least 40 RESIDENTIAL UNITS as well as at least 10 COMMERCIAL UNITS.
5. How many property have zero RESIDENTIAL UNITS.
6. How many property have zero COMMERCIAL UNITS.

In [32]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE,BBL_KEY
0,3,KENSINGTON,09 COOPS - WALKUP APARTMENTS,2,5329,62,"179 OCEAN PARKWAY, 3A",11218,0,0,0,0,1923,389000,8/1/2017,3-5329-62
1,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5911,8,7205 6 AVENUE,11209,2,0,2,2177,1910,0,5/30/2017,3-5911-8
2,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1512,1,"983 PARK AVENUE, 3C",10028,0,0,0,0,1927,7600000,5/10/2017,1-1512-1
3,4,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16213,16,241 BEACH 117 STREET,11694,3,0,3,4000,1905,0,5/12/2017,4-16213-16
4,4,DOUGLASTON,02 TWO FAMILY DWELLINGS,1,8304,28,245-71 61ST AVENUE,11362,2,0,2,3600,1950,844180,6/27/2017,4-8304-28

In [63]:
pivot_table = df.pivot_table(
    index="BOROUGH", 
    values=["RESIDENTIAL UNITS", "COMMERCIAL UNITS", "TOTAL UNITS"],
    aggfunc="sum"
)

In [65]:
print(pivot_table)

         COMMERCIAL UNITS  RESIDENTIAL UNITS  TOTAL UNITS
BOROUGH
1                     114               1692         1845
2                      28                762          793
3                     297               1856         2182
4                      88               3495         3618
5                      23                391          416

In [67]:
more_than_60_residential = df[df["RESIDENTIAL UNITS"] > 60]
print("Properties with more than 60 residential units:", len(more_than_60_residential))

Properties with more than 60 residential units: 10

In [69]:
exactly_10_commercial = df[df["COMMERCIAL UNITS"] == 10]
print("Properties with exactly 10 commercial units:", len(exactly_10_commercial))

Properties with exactly 10 commercial units: 0

In [71]:
exactly_300_total = df[df["TOTAL UNITS"] == 300]
print("Properties with exactly 300 total units:", len(exactly_300_total))

Properties with exactly 300 total units: 0

In [73]:
res_40_com_10 = df[(df["RESIDENTIAL UNITS"] >= 40) & (df["COMMERCIAL UNITS"] >= 10)]
print("Properties with at least 40 residential and 10 commercial units:", len(res_40_com_10))

Properties with at least 40 residential and 10 commercial units: 1

In [75]:
zero_residential = df[df["RESIDENTIAL UNITS"] == 0]
print("Properties with zero residential units:", len(zero_residential))

Properties with zero residential units: 1053

In [77]:
zero_commercial = df[df["COMMERCIAL UNITS"] == 0]
print("Properties with zero commercial units:", len(zero_commercial))

Properties with zero commercial units: 3382

How many Property have zero SALE PRICE

In [81]:
df["SALE PRICE"] = pd.to_numeric(df["SALE PRICE"], errors='coerce') #here i'm converting "SALE PRICE" to numeric in case it's stored as a string.

In [83]:
zero_sale_price_count = len(df[df["SALE PRICE"] == 0])

In [85]:
print("Number of properties with zero SALE PRICE:", zero_sale_price_count)

Number of properties with zero SALE PRICE: 1023

How many property have more than 10000 LAND SQUARE FEET and build befor 1970

In [87]:
df["LAND SQUARE FEET"] = pd.to_numeric(df["LAND SQUARE FEET"], errors='coerce')
df["YEAR BUILT"] = pd.to_numeric(df["YEAR BUILT"], errors='coerce')

In [89]:
filtered_df = df[(df["LAND SQUARE FEET"] > 10000) & (df["YEAR BUILT"] < 1970)]

In [91]:
property_count = len(filtered_df)

In [93]:
print(f"Number of properties with more than 10,000 LAND SQUARE FEET and built before 1970: {property_count}")

Number of properties with more than 10,000 LAND SQUARE FEET and built before 1970: 46

How many total properties have "1A", "2A" `TAX CLASS AT PRESENT` respectively also have at least 1 million dollar `SALE PRICE`

In [118]:
import pandas as pd

In [120]:
df = pd.read_csv('sales.csv')

In [122]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,3,KENSINGTON,09 COOPS - WALKUP APARTMENTS,2,5329,62,"179 OCEAN PARKWAY, 3A",11218,0,0,0,0,1923,389000,8/1/2017
1,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5911,8,7205 6 AVENUE,11209,2,0,2,2177,1910,0,5/30/2017
2,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1512,1,"983 PARK AVENUE, 3C",10028,0,0,0,0,1927,7600000,5/10/2017
3,4,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16213,16,241 BEACH 117 STREET,11694,3,0,3,4000,1905,0,5/12/2017
4,4,DOUGLASTON,02 TWO FAMILY DWELLINGS,1,8304,28,245-71 61ST AVENUE,11362,2,0,2,3600,1950,844180,6/27/2017

In [124]:
print(df.columns)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'ADDRESS', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'YEAR BUILT', 'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [126]:
pivot_table = filtered_df.pivot_table(
    index="TAX CLASS AT PRESENT",
    values="SALE PRICE",
    aggfunc="count"
).rename(columns={"SALE PRICE": "Total Properties"})

In [128]:
print(pivot_table)

                      Total Properties
TAX CLASS AT PRESENT
2A                                  34

Filter the dataset to include only properties sold for more than 500,000. Then, group the filtered data by borough and calculate the average sale price and total number of properties sold in each borough. Display the results in descending order of average sale price.

In [132]:
filtered_df = df[df["SALE PRICE"] > 500000]

In [134]:
grouped_df = filtered_df.groupby("BOROUGH").agg(
    Average_Sale_Price=("SALE PRICE", "mean"),
    Total_Properties_Sold=("SALE PRICE", "count")
)

In [136]:
sorted_df = grouped_df.sort_values(by="Average_Sale_Price", ascending=False)

In [138]:
print(sorted_df)

         Average_Sale_Price  Total_Properties_Sold
BOROUGH
2              3.088044e+06                     77
1              2.922215e+06                    555
3              1.873859e+06                    491
4              1.238781e+06                    367
5              7.950960e+05                     97

Filter the dataset to include only properties with at least one residential unit and a sale price greater than $1,000,000. Then, group the filtered data by building class category and determine the total number of properties sold and the median sale price for each category.

In [148]:
df.columns = df.columns.str.upper()

In [150]:
df["SALE PRICE"] = pd.to_numeric(df["SALE PRICE"], errors="coerce")

In [152]:
filtered_df = df[(df["RESIDENTIAL UNITS"] >= 1) & (df["SALE PRICE"] > 1000000)]

In [154]:
pivot_table = filtered_df.pivot_table(
    index="BUILDING CLASS CATEGORY",
    values=["SALE PRICE"],
    aggfunc={"SALE PRICE": ["count", "median"]}

In [156]:
pivot_table.columns = ["Total Properties Sold", "Median Sale Price"]

In [158]:
print(pivot_table)

                                             Total Properties Sold  \
BUILDING CLASS CATEGORY
01 ONE FAMILY DWELLINGS                                         57
02 TWO FAMILY DWELLINGS                                         87
03 THREE FAMILY DWELLINGS                                       21
04 TAX CLASS 1 CONDOS                                            3
07 RENTALS - WALKUP APARTMENTS                                  59
08 RENTALS - ELEVATOR APARTMENTS                                 4
10 COOPS - ELEVATOR APARTMENTS                                   1
12 CONDOS - WALKUP APARTMENTS                                    2
13 CONDOS - ELEVATOR APARTMENTS                                245
14 RENTALS - 4-10 UNIT                                           8
15 CONDOS - 2-10 UNIT RESIDENTIAL                               15
21 OFFICE BUILDINGS                                              1
22 STORE BUILDINGS                                               5

                                             Median Sale Price
BUILDING CLASS CATEGORY
01 ONE FAMILY DWELLINGS                              1500000.0
02 TWO FAMILY DWELLINGS                              1375000.0
03 THREE FAMILY DWELLINGS                            1500000.0
04 TAX CLASS 1 CONDOS                                1486645.0
07 RENTALS - WALKUP APARTMENTS                       2884700.0
08 RENTALS - ELEVATOR APARTMENTS                    17025500.0
10 COOPS - ELEVATOR APARTMENTS                       1400000.0
12 CONDOS - WALKUP APARTMENTS                        1723000.0
13 CONDOS - ELEVATOR APARTMENTS                      1818000.0
14 RENTALS - 4-10 UNIT                               2436500.0
15 CONDOS - 2-10 UNIT RESIDENTIAL                    2107777.0
21 OFFICE BUILDINGS                                  1450000.0
22 STORE BUILDINGS                                   5500000.0